<!DOCTYPE html>
<html>
  <head>
    <title>time.off</title>
    <link href="../styles/page_calendar.css" rel='stylesheet' >
    <link href='./@fullcalendar/core/main.css' rel='stylesheet' />
    <link href='./@fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='./@fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='./@fullcalendar/list/main.css' rel='stylesheet' />

    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='./@fullcalendar/core/main.js' ></script>
    <script src='./@fullcalendar/interaction/main.js' ></script>
    <script src='./@fullcalendar/list/main.js' ></script>
    <script src='./@fullcalendar/daygrid/main.js' ></script>
    <script src='./@fullcalendar/timegrid/main.js' ></script>

    <script src="../scripts/page_calendar.js"></script>
  </head>

  <body>
    <div id='back'>

      <div id='box'>

        <h1>Customize Your Itinerary</h1>

        <div id='wrap'>

          <div id='external-events'>

            <div class="dropdown">
              <input type="button" class="drop-button" onclick="showMenu()" value="Categories">
              <div id="myDropdown" class="dropdown-content"></div>
            </div>

            <div id='external-events-list'>
            </div>

            <p>
              <input type='checkbox' id='drop-remove' />

              <label for='drop-remove'>remove after drop</label>
            </p>
          </div>

        </div>

        <div id='calendar'></div>

        <div style='clear:both'></div>

      </div>

    </div>

  </body>

  </html>
