<html>
    <head>
        <link rel="stylesheet" href="../styles/prefs.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      <div class = "wrapper">
        <h1 class ="header">
            Welcome <span id="username"></span>, your trip to <span id ="dest"></span>
        </h1>
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-4">What do you want us to plan?</h1>

              <div class="funkyradio">
                  <div class="funkyradio-default">
                      <input type="checkbox" name="checkbox" id="checkbox1">
                      <label for="checkbox1">Restaurants</label>
                  </div>
                  <div class="funkyradio-primary">
                      <input type="checkbox" name="checkbox" id="checkbox2">
                      <label for="checkbox2">Sightseeing</label>
                  </div>
                  <div class="funkyradio-success">
                      <input type="checkbox" name="checkbox" id="checkbox3">
                      <label for="checkbox3">Relaxation</label>
                  </div>
                  <div class="funkyradio-danger">
                      <input type="checkbox" name="checkbox" id="checkbox4">
                      <label for="checkbox4">Nature</label>
                  </div>
                  <div class="funkyradio-warning">
                      <input type="checkbox" name="checkbox" id="checkbox5">
                      <label for="checkbox5">Nightlife</label>
                  </div>
                  <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="checkbox6">
                      <label for="checkbox6">Local Events</label>
                  </div>
              </div>
              <button id="make-itinerary" type="button" class="btn btn-primary btn-lg make-itn">Make Itinerary</button>
            </div>
          </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src='../scripts/home.js'></script>
      <script src='../scripts/prefs.js'></script>
    </body>

</html>
