body, html {
  width: 100%;
  height: 100vh;
}

#make-itinerary {
  margin-top: 0;
  margin-left: 50%;
  margin-right: 5%;
  float: right;
}

.itn-wrapper {
  display: flex;
  flex-direction: row;
}

.wrapper{
  height: 110vh;
  background-image: url("../images/options_background.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position:absolute;
  width:100%;
  height:100%;
  overflow: scroll;
  margin: 0;
  overflow-x: hidden;
}



.wrapper h3 {
  margin-left: 40px;
  color: white;
}

.wrapper2 {
  display: grid;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
  justify-content: center;
}

.card1 {
  background-color: #fdfefe;
  grid-area: "card1";
  margin-right: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 18rem;
  border-radius: 20px;
}

.card2 {
  background-color: #fdfefe;
  grid-area: "card2";
  margin-right: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 18rem;
  border-radius: 20px;
}

.card3 {
  background-color: #fdfefe;
  grid-area: "card3";
  margin-right: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 18rem;
  border-radius: 20px;
}

.card4 {
  background-color: #fdfefe;
  grid-area: "card4";
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 18rem;
  border-radius: 20px;
}

.card5 {
  background-color: #fdfefe;
  grid-area: "card5";
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 18rem;
  border-radius: 20px;
}

.card6 {
  background-color: #fdfefe;
  grid-area: "card6";
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 18rem;
  border-radius: 20px;
}

img {
  height: 200px;
  width: 100px;
}

.yelp-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.yelp-item img {
  width: 50%;
}

.yelp-text {
  display: flex;
  flex-direction: column;
}

.yelp-link{
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.yelp-link:hover {
  text-decoration: none;
}

.price {
  font-size: 15px;
  float: right;
}

.address-and-rating {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 20px;
}
